<% provide(:title, "About") %>
<!DOCTYPE>
<title><%= yield(:title) %> | Twitter-like Rails Demo App</title>
<h1>About</h1>
<h2>This is a demo rails app. It has Twitter-like functionality.</h2>
</html>