<% provide(:title, "Home") %>
<!DOCTYPE>
<title><%= yield(:title) %> | Twitter-like Rails Demo App</title>
<h1>Welcome to Twitter-Like</h1>
<h2>The App that has Twitter-like functionality!</h2>
</html>